<!DOCTYPE html>
<html lang="en">
  <head>

<title>ART AI</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="styles.css">
<style>
.button1 {background-color: #04AA6D;} /* Green */
</style>

</head>
<body>

<div class="header">
  <h1>ART AI assistant</h1>
  <p></p>
</div>

<div class="navbar">
<!--
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#">Link</a>
  <a href="#" class="right">Link</a>
-->
<a href="/login">login</a>
<a href="/register">register</a>

</div>

<div class="row">

  <div class="main">    
    <h2>About the Assistant</h2>
    <p>The ART AI assistant is an AI used for entertaiment with limited internet connection. </p>
    <div class="fakeimg" style="height:200px;">Image</div>

  </div>

  <div class="side">

    <h2>About us</h2>
    <p>students from turner</p>
    <div class="fakeimg" style="height:200px;">Image</div>

  </div>

</div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>